<ion-view view-title="Информация">
    <ion-content>
        <ul class="list">
            <a class="item">
                <strong>Название</strong><br>
                {{drug.name}}
            </a>
            <a class="item item-icon-right" ng-click="moreinfo('owner')">
                <strong>Производитель</strong><br>
                {{drug.owner}}
                <i class="icon ion-arrow-right-c"></i>
            </a>
            <a class="item item-icon-right" ng-click="moreinfo('dosage')">
                <strong>Форма выпуска</strong><br>
                {{ drug.dosage }}
                <i class="icon ion-arrow-right-c"></i>
            </a>
            <a class="item item-icon-right" href="#">
                <strong>Описание, состав</strong>
                <i class="icon ion-arrow-right-c"></i>
            </a>
            <a class="item item-icon-right" href="#">
                <strong>Инструкция по применении и дозировка</strong>
                <i class="icon ion-arrow-right-c"></i>
            </a>
            <a class="item item-icon-right" href="#">
                <strong>Противопоказания</strong>
                <i class="icon ion-arrow-right-c"></i>
            </a>

            <a class="item item-icon-right" href="#">
                <strong>Условия хранения и срок годности</strong>
                <i class="icon ion-arrow-right-c"></i>
            </a>
            <a class="item">
                <strong>Максимальная допустимая цена</strong><br>
                {{drug.limitedprice}} руб.
            </a>
        </ul>
        <button class="button button-block button-positive" ng-click="report()">
            Заявить о превышении
        </button>
    </ion-content>
</ion-view>
<script id="info_modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-calm">
            <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="close_modal()">Back</button>
            <h1 class="title">Подробнее</h1>
        </ion-header-bar>
        <ion-content>
            <div class="card">
                <div class="item item-text-wrap">
                    {{text}}
                </div>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
