<ion-view view-title="Жалоба">
    <ion-content class="padding">
        <button class="button button-block button-positive" ng-click="takePicture()">
            Сделайте фото чека
        </button>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Имя" ng-model="firstname">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Фамилия" ng-model="lastname">
            </label>
            <label class="item item-input">
                <textarea placeholder="Напишите комментарий" ng-model="comment"></textarea>
            </label>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                {{ choosen_shop_name }}
            </div>
        </div>
        <map data-tap-disabled="true" on-create="mapCreated(map)"></map>
        <button class="button button-block button-assertive" ng-click="sendreport()">
            Отправить!
        </button>
    </ion-content>
</ion-view>