<ion-view view-title="Поиск по базе">
    <ion-content style="min-height:100%">
        <map style="height: 200px;;"></map>
        <button class="button button-full button-stable" style="font-size: inherit">
            Нажмите сюда, если вашей аптеки нет на карте
        </button>
    </ion-content>
    <div style="position: absolute;bottom: 0;width: 100%;">
        <div class="list">
            <li class="item" ng-repeat="drug in drugs" ng-click="choose( {{ drug.id }} )">{{drug.name}}</li>
            <label class="item item-input">
                <input type="text" placeholder="Введите название лекарства" ng-change="filter()" ng-model="search">
                <button class="button button-icon ion-ios-barcode-outline" style="font-size: 40px;" ng-click="scanBarcode()"></button>
            </label>
        </div>
    </div>
</ion-view>
